* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #182625, #28403D);
}

main {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #3D5A73;
    text-align: center;
    box-shadow: 1px 1px 8px rgba(37, 54, 69, 0.12);
}

h2 {
    color: #2F3D40;
}

p {
    text-align: justify;
}